.page{
    width: 100%;
    height: 600px;
}
.header{
    padding: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.headleft{
    width: 50%;
    /* float: left;   */
}
.headright{
    width: 50%;
    /* float: right; */
}
.headright span{
    padding-right: 10px;
    float: right;
}
.headright a{
    text-decoration: none;
    /* float: left; */

}
.logo{
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: #2ECFC3;

}
.logo img{
    width: 80px;
    height: 80px;
}
.logo h5{
    padding: 10px;
    justify-content: center;

}
.body{
    width: 100%;
    height:500px;
    display: flex;
}
.left{
    padding: 10px;
    float: left;
    width: 33.5%;
    height: auto;
}
.medle{
    padding: 10px;
    width: 33.5%;
    height: auto;
}
.medle img{
    width: 100%;
    height: 260px;
}
.right{
    padding: 10px;
    float: right;
    width: 33.5%;
    height: auto;
}
.footer{
    width: 100%;
    height: 50px;
    background-color:gray;
    /* margin: 0px auto; */

}
.footer p{
    text-align: center;
    padding-top: 10px;
   

    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: absolute;
    top: 50%;
    left: 50%; */
}
